.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}

footer {
    height: 276px;
    background-color: #391F00;
    margin-top: 150px;
}

footer img {
    height: 68px;
    margin-top: 50px;
}

#second_div_img {
    width: 41%;
    margin-top: 70px;
}

#second_div_img img {
    width: 100%;
}

.footer_words span {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
}

#text_left_about {
    width: 59%;
}

.footer_words a {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    font-weight: 1900;
    color: #FFFFFF;
}

.numb_btn button {
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    width: 136px;
    height: 26px;
    background-color: transparent;
    color: #E16A00;
    border: 1px solid #E16A00;
    cursor: pointer;
}

.numb_btn span {
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
}

.follow h3 {
    font-size: 25px;
    font-weight: 900;
    line-height: 49px;
}

.words_img {
    display: flex;
    width: 100%;
    gap: 22px;
}

#about_section {
    padding-top: 200px;
}

#about_section h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 71px;
}

.words_img a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #241400;
}

.words_img h5 {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 31px;
}

.words_img h6 {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 43px;
}

#about_section p {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    font-family: Montserrat;
}

#about_section .container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .words_img {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    #text_left_about {
        width: 100%;
    }
    #second_div_img {
        width: 100%;
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    footer .footer_words {
        gap: 35px;
    }
    #footer_img {
        width: 70%;
    }
    #footer_img img {
        width: 100%;
    }
}

@media only screen and (max-width:500px) {
    #about_section p {
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
        font-family: Montserrat;
    }
    #about_section {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 320px) {
    #f_section .fllw {
        font-size: 15px;
        width: 250px;
    }
    #f_section i {
        font-size: 23px;
    }
    .words_img {
        display: flex;
        flex-direction: column;
    }
    #about_section p {
        font-size: 13px;
        line-height: 20px;
        width: 290px;
        text-align: center;
    }
    #about_section h3 {
        font-size: 28px;
        text-align: center;
    }
}