@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500;700&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    position: fixed;
    padding-top: 30px;
}

header ul {
    gap: 21px;
    display: flex;
}

header a {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #241400;
}

.logo_ul_li {
    display: flex;
    justify-content: space-between;
}

.icon_header a {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

footer {
    height: 276px;
    background-color: #391F00;
    margin-top: 150px;
}

footer img {
    height: 68px;
    margin-top: 50px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    gap: 100px;
}

footer .footer_words {
    display: flex;
    gap: 100px;
}

#second_div_img {
    width: 45%;
    margin-top: 70px;
}

#second_div_img img {
    width: 100%;
}

.footer_words span {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
}

.footer_words a {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    font-weight: 1900;
    color: #FFFFFF;
}

.numb_btn {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.numb_btn button {
    font-family: 'Monserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    width: 136px;
    height: 26px;
    background-color: transparent;
    color: #E16A00;
    border: 1px solid #E16A00;
    cursor: pointer;
}

.numb_btn span {
    font-family: 'Monserrat', sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
}

.icons i {
    font-size: 80px;
    padding: 30px;
    color: #241400;
}

.follow h3 {
    font-size: 25px;
    font-weight: 900;
    line-height: 49px;
}

.follow {
    text-align: center;
    margin-top: 200px;
}

.words_img {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#about_section {
    padding-top: 200px;
}

#about_section h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 71px;
}

.words_img a {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: #241400;
}

.words_img h5 {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 16px;
    line-height: 31px;
}

.words_img h6 {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 22px;
    line-height: 43px;
}

#about_section p {
    font-size: 18px;
    font-weight: 400;
    width: 556px;
    line-height: 35px;
    font-family: Montserrat;
}

#about_section .container {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    footer .footer_words {
        gap: 35px;
    }
    #footer_img {
        width: 70%;
    }
    #footer_img img {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    #f_section .fllw {
        font-size: 15px;
        width: 250px;
    }
    #f_section i {
        font-size: 23px;
    }
    .words_img {
        display: flex;
        flex-direction: column;
    }
    #about_section p {
        font-size: 13px;
        line-height: 20px;
        width: 290px;
        text-align: center;
    }
    #about_section h3 {
        font-size: 28px;
        text-align: center;
    }
}