@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500;700&family=Roboto:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}

#book_page_section button {
    width: 100px;
    height: 29px;
    margin-top: 200px;
    box-shadow: 0px 3px 8px 0px #E16A0030;
    background-color: #E16A00;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
    color: white;
    cursor: pointer;
}

#book_page_section h3 {
    font-family: 'Monserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 69px;
}

#book_page_section h6 {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
}

#book_page_section span {
    font-family: 'Monserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 43px;
}

#book_page_section p {
    font-family: 'Monserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

#book_page_section img {
    width: 329px;
}

#book_page_section .words_img {
    display: flex;
    justify-content: space-between;
}

.words {
    padding-top: 100px;
}

#book_page_section input {
    width: 634px;
    height: 60px;
    box-shadow: 0px 0px 10px 1px #00000026;
    border: 1px solid #FFFFFFCC;
    border-radius: 5px;
    font-family: 'Monserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    padding-left: 30px;
}

.for_icon_div {
    width: 60px;
    height: 60px;
    background-color: #E16A00;
}

.for_icon_div i {
    font-size: 25px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.input_icon {
    display: flex;
}

.comment {
    width: 100%;
    height: 167px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
    margin-top: 90px;
}

.comment h1 {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
}

.h_tags {
    display: flex;
    gap: 15px;
    padding: 20px;
}

.comment h4 {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

#book_page_section .p_tag {
    font-family: 'Monserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 20px;
    width: 100%;
}

#book_img img {
    width: 100%;
}

.words a {
    display: inline-block;
    color: black;
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 20px;
}

#book_img {
    width: 1267px;
}

@media only screen and (max-width: 768px) {
    #book_page_section .words_img {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .for_icon_div {
        width: 100px;
        height: 60px;
        background-color: #E16A00;
    }
    .display_none {
        display: none;
    }
    #book_page_section p {
        font-family: 'Monserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 26px;
    }
    .words {
        padding-top: 100px;
        text-align: center;
    }
    #book_img {
        width: 100%;
    }
}

@media only screen and (max-width: 320px) {
    #f_section .fllw {
        font-size: 15px;
        width: 250px;
    }
    #f_section i {
        font-size: 23px;
    }
    #book_page_section .words_img {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}