.inputs textarea {
    width: 100%;
    height: 150px;
    padding: 20px;
    border: 1px solid #CECECE;
    color: #797667;
    font-size: 23px;
    font-weight: 400;
    font-family: Crimson Text;
    resize: none;
}

#contact_us_section {
    padding-top: 200px;
}

#contact_us_section h3 {
    font-size: 36px;
    font-weight: 900;
    line-height: 71px;
}

#contact_us_section input {
    width: 50%;
    color: #797667;
    height: 75px;
    font-family: Crimson Text;
    font-size: 23px;
    font-weight: 400;
    display: flex;
    border: 1px solid #CECECE;
    padding: 20px;
    line-height: 30px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 30px;
}

.one_inp {
    display: flex;
    gap: 30px;
}

.two_inp {
    display: flex;
    gap: 30px;
}

#contact_us_section button {
    width: 50%;
    height: 75px;
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    font-size: 30px;
    font-weight: 400;
    line-height: 39px;
    color: white;
    cursor: pointer;
    border: 0;
    background-color: #E16A00;
}

.button_div {
    text-align: center;
    margin-top: 50px;
}

@media only screen and (max-width: 500px) {
    #contact_us_section button {
        width: 70%;
    }
    #contact_us_section input {
        width: 50%;
        height: 75px;
        font-family: Crimson Text;
        font-size: 18px;
        font-weight: 400;
        display: flex;
        border: 1px solid #CECECE;
        padding: 20px;
        line-height: 30px;
    }
}

@media only screen and (max-width: 320px) {
    #f_section .fllw {
        width: 250px;
        font-size: 15px;
    }
    #f_section i {
        font-size: 23px;
    }
    #contact_us_section h3 {
        font-size: 28px;
    }
    #contact_us_section input {
        height: 38.02px;
        width: 243px;
        border-radius: 5px;
        font-size: 12px;
    }
    #contact_us_section #note {
        font-size: 12px;
        width: 243px;
        height: 101px;
        border-radius: 5px
    }
    .one_inp {
        display: flex;
        flex-direction: column;
    }
    .two_inp {
        display: flex;
        flex-direction: column;
    }
}