@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500;700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Monserrat', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1140px;
}

header {
    width: 100%;
    height: 100px;
    position: fixed;
    padding-top: 30px;
}

header ul {
    gap: 21px;
    display: flex;
}

header a {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color: #241400;
}

.logo_ul_li {
    display: flex;
    justify-content: space-between;
}

.icon_header a {
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

footer {
    height: 276px;
    background-color: #391F00;
    margin-top: 150px;
}

footer img {
    height: 68px;
    margin-top: 50px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    gap: 100px;
}

footer .footer_words {
    display: flex;
    gap: 100px;
}

.footer_words span {
    padding-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #FFFFFF;
}

.footer_words a {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    font-weight: 1900;
    color: #FFFFFF;
}

.numb_btn {
    margin-top: 50px;
}

.numb_btn button {
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    width: 136px;
    height: 26px;
    background-color: transparent;
    color: #E16A00;
    border: 1px solid #E16A00;
}

.numb_btn span {
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
}

.icons i {
    font-size: 80px;
    padding: 30px;
    color: #241400;
}

.follow h3 {
    font-size: 25px;
    font-weight: 900;
    line-height: 49px;
}

.follow {
    text-align: center;
    margin-top: 200px;
}

#search_section {
    padding-top: 200px;
}

#search_section h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 71px;
}

#search_section input {
    width: 433px;
    height: 69.52px;
    border-radius: 5px;
    padding: 30px;
    font-size: 23px;
    font-weight: 400;
}

#search_section button {
    width: 433px;
    height: 65px;
    background-color: #E16A00;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
    border: 0;
    color: #FFFFFF;
}

#search_section .input_btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search_card {
    width: 801px;
    height: 504px;
    padding-top: 30px;
    display: flex;
    box-shadow: 0px 4px 15px 0px #00000040;
}

#search_section .words_search_card {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    padding-top: 30px;
}

#search_section img {
    width: 220px;
    height: 306px;
    margin: 50px 20px;
}

.words {
    padding-top: 30px;
}

.words h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 47px;
}

.words p {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    width: 460px;
}

.words span {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}


@media only screen and (max-width: 320px) {
    #f_section .fllw {
        font-size: 15px;
        width: 250px;
        padding-top: 200px;
    }

    #f_section i {
        font-size: 23px;
    }

    #search_section h3 {
        font-size: 28px;
        text-align: center;
    }

    #search_section input {
        width: 243px;
        height: 37px;
        border-radius: 5px;
        font-size: 15px;
    }

    #search_section button {
        font-size: 12px;
        width: 243px;
        height: 40px;
        border-radius: 5px;
    }

    .words_search_card {
        display: flex;
        flex-direction: column;
    }

    .search_card {
        display: flex;
        flex-direction: column;
        width: 260px;
        box-shadow: 0px 4px 15px 0px #00000000;
    }
    .search_card p {
        width: 290px;
        line-height: 24px;
        text-align: center;
    }
    .search_card span{
        display: flex;
        justify-content: center;
    }
}