@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Courgette&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;1,200;1,300;1,400&family=Montserrat:wght@300;400&family=Poppins:wght@100;200;500;700&family=Roboto:wght@300&display=swap');
.numb_btn {
    margin-top: 50px;
}

.numb_btn button {
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    width: 136px;
    height: 26px;
    background-color: transparent;
    color: #E16A00;
    border: 1px solid #E16A00;
}

.numb_btn span {
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
}

.follow h3 {
    font-size: 25px;
    font-weight: 900;
    line-height: 49px;
}

.follow {
    text-align: center;
    margin-top: 200px;
}

#search_section {
    padding-top: 200px;
}

#search_section h3 {
    font-size: 36px;
    font-weight: 700;
    line-height: 71px;
}

#search_section input {
    width: 100%;
    height: 69.52px;
    border-radius: 5px;
    padding: 30px;
    font-size: 23px;
    font-weight: 400;
}

#search_section button {
    width: 100%;
    height: 65px;
    background-color: #E16A00;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 400;
    border: 0;
    color: #FFFFFF;
}

#search_section .input_btn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search_card {
    width: 801px;
    padding-top: 30px;
    display: flex;
    gap: 20px;
    box-shadow: 0px 4px 15px 0px #00000040;
}

#search_section .words_search_card {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding-top: 30px;
}

#search_section img {
    margin: 50px 20px;
}

.words {
    padding-top: 30px;
    width: 70%;
}

.words h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 47px;
}

.words p {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}

.words span {
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
}

#img_in_search {
    width: 250px;
}

#img_in_search img {
    width: 100%;
}

@media only screen and (max-width: 1000px) {
    #search_section .words_search_card {
        display: flex;
        gap: 10px;
        flex-direction: column;
        padding-top: 30px;
    }
    .search_card {
        width: 100%;
        padding-top: 30px;
        margin-top: 30px;
        display: flex;
    }
    #search_section {
        padding-top: 100px;
    }
}

@media only screen and (max-width:768px) {
    .search_card {
        padding-top: 30px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 0px;
        box-shadow: 0px 0px 0px 0px #00000000;
    }
    #img_in_search {
        width: 100%;
    }
    .words {
        padding-top: 0px;
        width: 100%;
    }
    .words p {
        padding-top: 10px;
        font-size: 14px;
        font-weight: 400;
        line-height: 27px;
    }
}

@media only screen and (max-width: 320px) {
    #f_section .fllw {
        font-size: 15px;
        width: 250px;
        padding-top: 200px;
    }
    #f_section i {
        font-size: 23px;
    }
    #search_section h3 {
        font-size: 28px;
        text-align: center;
    }
    #search_section input {
        width: 243px;
        height: 37px;
        border-radius: 5px;
        font-size: 15px;
    }
    #search_section button {
        font-size: 12px;
        width: 243px;
        height: 40px;
        border-radius: 5px;
    }
    .words_search_card {
        display: flex;
        flex-direction: column;
    }
    .search_card {
        display: flex;
        flex-direction: column;
        width: 260px;
        box-shadow: 0px 4px 15px 0px #00000000;
    }
    .search_card p {
        width: 290px;
        line-height: 24px;
        text-align: center;
    }
    .search_card span {
        display: flex;
        justify-content: center;
    }
}